<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neatif if you com with us, NEAT IF</title>
  <link rel="stylesheet" href="/css/aside.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
  <link rel="stylesheet" href="/css/find_id.css" type="text/css" />

</head>

<body>
<div th:replace="fragments/aside.html :: aside"/>

<article class="container">
  <form th:action="@{/items/new}" th:object="${item}" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label th:for="name">상품명</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="price">가격</label>
      <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="stockQuantity">수량</label>
      <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="bestSeller">베스트 셀러</label>
      <input type="radio" th:field="*{bestSeller}" th:value="true">O
      <input type="radio" th:field="*{bestSeller}" th:value="false">X
    </div>

    <div class="form-group">
      <label th:for="itemDetail">상품 설명</label>
      <textarea th:field="*{itemDetail}"></textarea>
    </div>

    <div class="form-group">
      <label th:for="imageFiles"> 이미지 업로드</label>
      <input type="file" multiple="multiple" th:field="*{imageFiles}">
    </div>

    <button type="submit" class="btn btn-primary">생성</button>
  </form>

  <br/>
  <div th:replace="fragments/footer :: footer" />
</article> <!-- /container -->
</body>
</html>