article {
    margin-top: 0;
}
.container {
    height: 80%;
}
.container .slide ul {
    display: flex;
}
.container .slide ul li img {
    width: 100%;
    height: 100%;
}
.container .slide ul li {
    width: calc(30%)
}

.container h1 {
    font-size: 20px;
}
.container h2 {
    font-size: 14px;
    color: black;
    font-weight: 300;
}
.container .title{
    margin-top: 10%;
    margin-bottom: 2%;
    width: 90%;
    text-align: center;
}

.container .best .title {
    width: 90%;
    align-items: center;
    color: black;
    font-size: 16px;
    display: flex;
}
.container .best .title::before {
    content:"";
    flex-grow: 1;
    margin: 0 16px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
}.container .best .title::after {
    content:"";
    flex-grow: 1;
    margin: 0 16px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.container .product_list li {
    margin-left: 2%;
    margin-right: 2%;
}

.container .best .product_list .thumbnail img {
    width: 100%;
    height: 100%;
}

.container .best .product_list {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.container .best .product_list .description .name {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between; /* 다른 자식 요소 사이에 공간을 만듭니다. */
    align-items: center;
} 

.container .best .product_list .description .name a {
    font-size: 15px;
    color: black;
}

.container .best .product_list .description .line {
    width: 100%;
    content:"";
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.container .best .product_list .description .name .icon_best {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid red;
    color: white;
    background: red;
}

.container .best .product_list .description .price {
    width: 100%;
    margin-top: 5%;
}

.container .category {
    width: 90%;
    margin-top: 35%;
}

.container .category p{
    font-weight: bold;
    text-align: center;
}

.container .category .category_list {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.container .category .category_list li {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-left:1%;
    margin-right:1%;
}

.container .category .category_list li a {
    color: black;
}
.container .category .category_list li a:hover {
    color:#ff5733;
}


.container .top .nav {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.container .top .menu{
    margin-top: 5%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.container .top ol {
    display: flex; /* Flexbox로 설정하여 수평으로 나열 */
    padding: 0;
    margin-left: 1%;
}

.container .top .menu ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.container .top .menu ul li a{
    justify-content: flex-end;
    margin-right: 10px; /* 간격 조절 */
}

.container .top .menu a {
    color: #333;
    font-size: 14px;
}

.container .top .menu a:hover {
    color: #ff5733;
}

.container .top .line1 {
    width: 100%;
    content:"";
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.container .top .line2 {
    position: absolute;
    margin-top: 10%;
    width: 100%;
    content:"";
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
}


.container .content  {
    width: 90%;
}

.container .content .product_list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .content .product_list li {
    width: calc(22%); /* 간격을 조절하려면 40px(총 간격)을 제외합니다. */
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.container .content .product_list .thumbnail img {
    width: 100%;
    height: 100%;
}

.container .best .product_list {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.container .content .product_list .description .name {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between; /* 다른 자식 요소 사이에 공간을 만듭니다. */
    align-items: center;
} 

.container .content .product_list .description .name a {
    font-size: 15px;
    color: black;
}

.container .content .product_list .description .line {
    width: 100%;
    content:"";
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 0;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.container .content .product_list .description .name .icon_best {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid red;
    color: white;
    background: red;
}

.container .content .product_list .description .price {
    width: 100%;
    text-align: left;
    margin-top: 5%;
}