<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="box1">
        <p>고객센터</p>
        <p>010-5023-9977</p>
        <pre style="font-size: 11px; line-height: 0.7; font-weight: 300;">

MON-FRI PM 12:00 – PM 6:00

LUNCH TIME PM 13:00 – 14:00

SAT.SUN.HOLIDAY OFF
        </pre><br><br>

        <p>은행 정보</p>
        <pre style="font-weight: 400; line-height: 0.7; font-size: 13px;">

우체국  402339-02-309137

IBK기업 010-5023-9977

예금주 : 조민서
        </pre><br>
    </div>

    <ul class="box2">
        <p>주식회사 니티프</p>
        <pre style="font-weight: 400; line-height: 0.7; font-size: 13px;">

대표이사 : 조민서 | 이메일 : liging12@naver.com

OOOOO OOOO OOO OOO OOOO OO (OOO) OOOOOO, OOO호

사업자등록번호 : OOO-OO-OOOOOO [사업자정보확인] | 통신판매업신고번호 : 2024-OOOO-OOOO호

        </pre>
        <li>
            <ul style="display: flex; justify-content: space-between; width: 50%;">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">이용안내</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
        </li>
    </ul>

    <ul class="box3">
        <a href="#"><img src="" alt="intstargram_link"></a>
    </ul>
</footer>