<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neatif if you com with us, NEAT IF</title>
    <link rel="stylesheet" href="/css/aside.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
    <link rel="stylesheet" href="/css/qna_read.css" type="text/css" />
</head>
<body>
<div th:replace="~{fragments/aside.html :: aside}"/>
<article class="container">
    <div class="main">
        <div class="header">
            <ul>
                <li class="title" style="font-size: 18px;">배송 문의</li> <br>
                <li class="author">POSTED BY : 조민서</li>
                <li class="created_date">2023-01-24</li> <br><br>
            </ul>
        </div>
        <div class="content">
                현재 코로나19 상황으로 배송비 측정 시스템의 변수가 많아져,
    국내 사이트에서 해외로 배송하는 서비스는 부득이하게 종료하게 되었습니다.
    해외에서 주문하시는 분들은 홈페이지 우측 상단에 있는 영문몰을 선택 후 영문몰에서 주문 부탁드리겠습니다.
    Due to the current COVID-19 situation, there are more variables in the delivery cost measurement system,
    The domestic site inevitably ended the delivery overseas.
    If you are ordering from overseas, please select the English Mall in the upper right corner of the website and order it at the English Mall.
    현재 코로나19 상황으로 배송비 측정 시스템의 변수가 많아져,
    국내 사이트에서 해외로 배송하는 서비스는 부득이하게 종료하게 되었습니다.
    해외에서 주문하시는 분들은 홈페이지 우측 상단에 있는 영문몰을 선택 후 영문몰에서 주문 부탁드리겠습니다.
    Due to the current COVID-19 situation, there are more variables in the delivery cost measurement system,
    The domestic site inevitably ended the delivery overseas.
    If you are ordering from overseas, please select the English Mall in the upper right corner of the website and order it at the English Mall.
    현재 코로나19 상황으로 배송비 측정 시스템의 변수가 많아져,
    국내 사이트에서 해외로 배송하는 서비스는 부득이하게 종료하게 되었습니다.
    해외에서 주문하시는 분들은 홈페이지 우측 상단에 있는 영문몰을 선택 후 영문몰에서 주문 부탁드리겠습니다.
    Due to the current COVID-19 situation, there are more variables in the delivery cost measurement system,
    The domestic site inevitably ended the delivery overseas.
    If you are ordering from overseas, please select the English Mall in the upper right corner of the website and order it at the English Mall.
    현재 코로나19 상황으로 배송비 측정 시스템의 변수가 많아져,
    국내 사이트에서 해외로 배송하는 서비스는 부득이하게 종료하게 되었습니다.
    해외에서 주문하시는 분들은 홈페이지 우측 상단에 있는 영문몰을 선택 후 영문몰에서 주문 부탁드리겠습니다.
    Due to the current COVID-19 situation, there are more variables in the delivery cost measurement system,
    The domestic site inevitably ended the delivery overseas.
    If you are ordering from overseas, please select the English Mall in the upper right corner of the website and order it at the English Mall.
        </div>
        <div class="footer">
            <a href="qna.html">목록</a>
        </div>
    </div>
    <div th:replace="~{fragments/footer.html :: footer}"/>
</article>
</body>

<script>
    
</script>
</html>